{
    "presets": ["next/babel"],
    "env": {
        "development" : {
          "compact": false
        }
    },
    "plugins": [
        ["styled-components", { "ssr": true }],
        ["babel-plugin-twin", { "debug": false }],
        "babel-plugin-macros"
    ]
}